/*  your css code here. If applicable */
body{
	width:1100px;
}
table{
	border:1px solid black;
}
#one{
	width:200px;
	border:1px solid black;
	
}
#two{
	width:600px;
	border:1px solid black;
}
#three{
	width:200px;
	border:1px solid black;
	
}